<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-employee></app-employee> -->
<!-- <app-footer></app-footer> -->
<!-- <h3>testing custom ngfor</h3>
<ul> -->
<!-- <li *appCustomIf="true">data</li>
  <li *ngIf="false">data</li> -->
<!-- <div *appCustomNgFor="let item of data; let i = index">
    <li>{{ item }} - {{ i }}</li>
  </div>
</ul> -->

<!-- <app-using-pipes>
  <p>projected content</p>
  <p content>projected content with selection</p>
</app-using-pipes> -->
<!-- <app-task2></app-task2> -->
<!-- <app-table1 ></app-table1>
<app-table2 ></app-table2> -->
<!-- <ng-template #ref ngFor [ngForOf]="['a', 'b', 'c']" let-item let-index=" index">
  <div *ngIf="index">
    {{ index }}
  </div>
</ng-template> -->

<!-- <ng-container *ngTemplateOutlet="ref"></ng-container> -->
<!-- <input type="text" #ref1 />{{userList}}
<input type="text" #ref2 /> -->
