
<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.gender | namePrefix}} {{  user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.age | filterType: user.gender | titlecase}}</td>
          </tr>
        </tbody>
      </table>
</div>